body{
    background-color: #f5ebdc !important;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #f5ebdc;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #502314;
    border-radius: 1px;
}
.header-out{
    background-color: #f5ebdc;
    position: fixed;
    top: 0;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.container-fluid{
    max-width: 1200px;
}
.logo-img{
    width: 45px;
}
.header-but-1{
    background-color: #d62300;
    font-size: 14px;
    font-weight: bold;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: 0.25rem !important;
}
.header-but-1:hover{
    background-color: #b44731;
}
.header-but-2{
    background-color: maroon;
    font-size: 14px;
    font-weight: bold;
}
.header-but-2:hover{
    background-color: #b44731;
}
.head-bar{
    font-size: 24px;
    color: rgb(80, 35, 20);
}
.ab{
    width: 48%;
}
.abc{
    width: 52%;
}
.divider1{
    background-color: #d2c8bd;
    height: 1px;
    width: 100%;
    margin-top: 61px;
}
.divider{
    background-color: #d2c8bd;
    height: 1px;
    width: 100%;
}
.herostart{
    width: 35%;
}
.heroend{
    width: 65%;
}
.herotextin{
    font-family: "Flame Bold";
    color: #502314;
    font-size: 60px;
    font-weight : 400;
    text-align: start;
}
.herobutton-1{
    background-color: #d62300;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    max-width: 280px !important;
    text-align: center;
    display: block;
}
.herobutton-1:hover{
    background-color: maroon;
}
.herobutton-2{
    border: 1px solid #d62300;
    color: #d62300;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    max-width: 280px !important;
    text-align: center;
    display: block;
}
.herobutton-2:hover{
    background-color: #ecc9c2;
}
.heroimg{
    width: 100%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroimg-2{
    display: none;
}
.heroimg-450{
    display: none;
}
.herobuttons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.herobuttons-2{
    display: none;
    flex-direction: column;
    row-gap: 10px;
}
/* .card-main{
    flex-wrap: wrap;
    row-gap: 3rem;
} */
.card{
    width: 49.2%;
    transition-duration: 0.3s;
    transition-property: all;
    border-radius: 12px !important;
}
.card:hover{
    transform: scale(1.015);
}
.card-heading{
    font-family: Flame Regular;
    font-size: 24px;
    font-weight: 400;
    color: #502314;
}
.card-img{
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.xyz{
    margin-top: 3rem;
    text-align: end;
}
.xy{
    text-align: end;
}
.card-text{
    font-size: 13px;
    font-weight: 400;
    font-family: Flame Sans;
    color: #502314;
}
.card-in{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.card-button-in{
    text-decoration: none;
    border: 1px solid #d62300;
    color: #d62300;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    text-align: center;
    font-family: Flame Sans;
}
.card-button-in:hover{
    background-color: #ffebe7;
}
.app-section-out{
    background-color: #ebe2d3;
}
.app-text-heading{
    font-family: Flame Bold;
    font-size: 48px;
    font-weight: 400;
    color: #502314;
}
.app-img{
    width: 40%;
}
.app-text{
    width: 50%;
    padding-top: 20px;
}
.app-text-para{
    color: #502314;
    font-family: Flame Sans;
    font-size: 14px;
}
.stores{
    width: 160px;
    height: 50px;
}
.app-img-2{
    display: none;
    transition: 0.15s ease-in-out;
}
.app-img-1{
    margin-top: -50px;
    transition: 0.4s ease-in-out;
}
.app-img-2:hover{
    transform: scale(1.02);
}
.app-img-1:hover{
    transform: scale(1.02);
}
.app-text-2{
    display: block;
}
.app-text-3{
    display: none;
}
.app-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    /* padding-top: 3rem !important; */
    padding-bottom: 2rem !important;
}
.stores{
    cursor: pointer;
    transition: 0.15s ease-in-out;
}
.stores:hover{
    transform: translateY(-5px);
}
.abcd{
    margin-bottom: 100px;
}
.copyright{
    background-color: #502314;
    align-self: center;
    margin-bottom: 60.5px;
}
.copyright-text{
    /* color: #f5ebdc; */
    color: #F5EBDC;
    font-family: Flame Sans;
    font-size: 12px;
    margin: 0;
    font-weight: 400;
}
.menu-items-img{
    width: 20px;
    height: 20px;
}
.menu-items-name{
    font-size: 13px;
    font-family: Flame Sans;
    font-weight: 400;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
#blockat990{
    display: none;
}
.menu-items{
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 5px;
    color: #502314;
}
.footer-menu{
    width: 100%;
}
.footer-menu:hover{
    cursor: pointer;
}
.Home{
    color: #d62300 !important;
}
.footer-menu-out{
    width: 100%;
    background-color: #f5ebdc;
    position: fixed;
    bottom: 0;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}
@media(max-width:990px){
    #blockat990{
        display: flex;
    }
}
@media(max-width:960px){
    .app-img-2{
        display: block;
        /* width: 100%; */
        width: 290px;
        height: 395px;
        margin-top: -38px;
    }
    .app-img-1{
        display: none;
    }
    .app-text-heading{
        font-size: 30px;
    }
    .app-section{
        justify-content: center;
    }
    .app-img{
        width: 45%;
    }
    .app-text{
        width: 60%;
        padding-top: 0px;
    }
}
@media(max-width:850px){
    .app-section{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
}
@media(max-width:900px){
    .herotextin{
        font-size: 50px;
    }
    .herobutton-1{
        font-size: 16px;
        max-width: 250px !important;
    }
    .herobutton-2{
        font-size: 16px;
        max-width: 250px !important;
    }
}
@media(max-width:768px){
    .header-but-2{
        display: none;
    }
    .header-but-1{
        margin-right: 0rem !important;
    }
    .hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        /* row-gap: 10px; */
        margin-top: 10px;
    }
    .herostart{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .herobuttons{
        align-items: center;
        display: none;
    }
    .herotextin{
        text-align: center;
    }
    .heroend{
        width: 100%;
    }
    .heroimg{
        display: none;
    }
    .heroimg-2{
        display: block;
        width: 100%;
    }
    .herobuttons-2{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 20px;
        width: 100%;
    }
    .herobutton-1{
        font-size: 16px;
        max-width: 100% !important;
    }
    .herobutton-2{
        font-size: 16px;
        max-width: 100% !important;
    }
    .herotextin{
        font-size: 32px;
    }
    .card-main{
        flex-direction: column !important;
    }
    .card{
        width: 100%;
    }
    .card-main{
        row-gap: 1rem !important;
    }
    .app-img-2{
        display: block;
        width: 180px;
        height: 252px;
    }
    .app-img-1{
        display: none;
    }
    .app-text-3{
        display: block;
        text-align: center;
    }
    .app-text-2{
        display: none;
    }
    .app-text-heading{
        font-size: 33px;
    }
    .app-section{
        justify-content: center;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
        column-gap: 30px;
    }
    /* .app-img{
        width: 35%;
    } */
    .app-text{
        width: 60%;
    }
    .app-img{
        width: fit-content;
    }
    .stores{
        height: 45px;
        width: 144px;
    }
}
@media(max-width:650px){
    .ab{
        width: 46%;
    }
    .abc{
        width: 54%;
    }
    .app-section{
        justify-content: center;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .app-img-2{
        display: block;
        width: 170px;
        height: 238px;
    }
    .app-text-heading{
        font-size: 30px;
    }
    #top{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .herobuttons-2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .heroend{
        width: 100%;
        height: 280px;
        background-image: url("https://cdn.sanity.io/images/czqk28jt/prod_bk_us/2aa8bc3c6a754a2db84cd0bada2628b59293b8e9-1866x800.jpg?w=1300&q=80&fit=max&auto=format");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .heroimg-2{
        display: none;
    }
}
@media(max-width:550px){
    .ab{
        width: 44.5%;
    }
    .abc{
        width: 55.5%;
    }
    .abcd{
        margin-bottom: 50px !important;
    }
    .app-img-2{
        display: block;
        width: 160px;
        height: 224px;
        margin-top: -30px;
    }
    .app-text {
        /* padding-left: 25px; */
        width: 50%;
    }
    /* .app-img{
        width: 50%;
    } */
    .app-section{
        justify-content: center;
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }
    .xyz{
        margin-top: 1rem;
        text-align: end;
    }
    .xy{
        text-align: end;
    }
    .card-in{
        padding-top: 1rem;
        padding-bottom: 1.4rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    #top{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .herobuttons-2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .heroend{
        width: 100%;
        height: 279px;
        background-image: url("https://cdn.sanity.io/images/czqk28jt/prod_bk_us/2aa8bc3c6a754a2db84cd0bada2628b59293b8e9-1866x800.jpg?w=1300&q=80&fit=max&auto=format");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .heroimg-2{
        display: none;
    }
}
@media(max-width:450px){
    .ab{
        width: 44.3%;
    }
    .abc{
        width: 56%;
    }
    .app-img{
        width: 50%;
    }
    .stores{
        max-height: 45px;
        max-width: 144px;
        width: 50%;
        height: fit-content;
    }
    .heroimg-2{
        display: none;
    }
    .heroimg-450{
        display: none;
        width: 100%;
    }
    .heroend{
        width: 100%;
        height: 280px;
        background-image: url(https://cdn.sanity.io/images/czqk28jt/prod_bk_us/2aa8bc3c6a754a2db84cd0bada2628b59293b8e9-1866x800.jpg?w=900&q=80&fit=max&auto=format);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    #top{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .herobuttons-2{
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-in{
        padding-top: 1rem;
        padding-bottom: 1.1rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    .header-but-1{
        font-size: 12px;
        padding-top: .6rem !important;
        padding-bottom: .6rem !important;
        padding-right: 0.8rem !important;
        padding-left: 0.8rem !important;
    }
    .head-bar {
        font-size: 20px;
    }
}
@media(max-width:400px){
    .ab {
        width: 43.3%;
    }
    .abc{
        width: 57%;
    }
}
@media(max-width:370px){
    .ab {
        width: 43.3%;
        margin-bottom: -7px;
    }
    .abc{
        width: 58%;
    }
    .app-img-2{
        width: 100%;
        height: fit-content;
        margin-top: -40px;
    }
    .app-text{
        padding-top: 20px;
    }
}
@media(max-width:350px){
    .heroend{
        width: 100%;
        height: 235px;
        background-image: url(https://cdn.sanity.io/images/czqk28jt/prod_bk_us/2aa8bc3c6a754a2db84cd0bada2628b59293b8e9-1866x800.jpg?w=700&q=80&fit=max&auto=format);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}