body{
    background-color: #f5ebdc !important;
}
.container-fluid{
    max-width: 1200px;
}
.logo-img{
    width: 45px;
}
.header-but-1{
    background-color: #d62300;
    font-size: 14px;
    font-weight: bold;
}
.header-but-1:hover{
    background-color: #b44731;
}
.header-but-2{
    background-color: maroon;
    font-size: 14px;
    font-weight: bold;
}
.header-but-2:hover{
    background-color: #b44731;
}
.head-bar{
    font-size: 24px;
    color: rgb(80, 35, 20);
}
.ab{
    width: 45%;
}
.abc{
    width: 55%;
}
.divider1{
    background-color: #d2c8bd;
    height: 1px;
    width: 100%;
}
.herotextin{
    font-family: "Flame Bold";
    color: #502314;
    font-size: 60px;
    font-weight : 400;
    text-align: start;
}
.herobutton-1{
    background-color: #d62300;
    font-size: 18px;
    font-weight: bold;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    max-width: 300px !important;
    text-align: center;
    display: block;
}
@media(max-width:768px){
    .header-but-2{
        display: none;
    }
}
@media(max-width:550px){
    .ab{
        width: 40%;
    }
    .abc{
        width: 60%;
    }
}
@media(max-width:450px){
    .ab{
        width: 37%;
    }
    .abc{
        width: 63%;
    }
}
@media(max-width:370px){
    .ab{
        width: 35%;
    }
    .abc{
        width: 65%;
    }
}